[Unit]
Description=ADSBexchange Stats
After=adsbexchange-go.service

[Service]
Type=simple
ExecStart=/usr/bin/json-status
WorkingDirectory=/var/run
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=30
User=root

[Install]
WantedBy=multi-user.target
